# _________            ____________                             ______ ______    __________                __________
# __  ____/_______________  __/__(_)______ ____  ______________ ___  /____  /_______  ____/______ ___________  /___(_)____________________
# _  /    _  __ \_  __ \_  /_ __  /__  __ `/  / / /_  ___/  __ `/_  __ \_  /_  _ \_  __/  __  __ `__ \  __ \  __/_  /_  __ \_  __ \_  ___/
# / /___  / /_/ /  / / /  __/ _  / _  /_/ // /_/ /_  /   / /_/ /_  /_/ /  / /  __/  /___  _  / / / / / /_/ / /_ _  / / /_/ /  / / /(__  )
# \____/  \____//_/ /_//_/    /_/  _\__, / \__,_/ /_/    \__,_/ /_.___//_/  \___//_____/  /_/ /_/ /_/\____/\__/ /_/  \____//_/ /_//____/
#
# ConfigurableEmotions - Developed by BlvckBytes <blvckbytes@gmail.com>
# Repository - https://github.com/BlvckBytes/ConfigurableEmotions
# ASCII-Art - https://patorjk.com/software/taag/#p=display&f=Speed

commands:
  emotion:
    name: 'emotion'
    allSentinel: 'Alle'
    paginationSize: 5
    aliases:
      - emo
      - emotions
  emotionControl:
    name: 'emotionctl'
    actionNames:
      RELOAD_CONFIG: 'Config-Neu-Laden'
      TOGGLE_TITLE: 'Bildschirmtext-Umschalten'
      TOGGLE_ACTION_BAR: 'Hotbartext-Umschalten'
      TOGGLE_CHAT: 'Chatausgabe-Umschalten'
      TOGGLE_SOUND: 'Geräusche-Umschalten'
      TOGGLE_PARTICLE_EFFECT: 'Partikeleffekte-Umschalten'
      PROFILE: 'Profil-Anzeigen'

discord:
  essentialsDiscord:
    enabled: true
    messageType: 'chat'
    allowGroupMentions: false

playerProfiles:
  flags:
    titleEnabled:
      defaultValue: SELF_AND_OTHERS
    actionBarEnabled:
      defaultValue: SELF_AND_OTHERS
    chatEnabled:
      defaultValue: SELF_AND_OTHERS
    soundEnabled:
      defaultValue: SELF_AND_OTHERS
    effectEnabled:
      defaultValue: SELF_AND_OTHERS

playerMessages:
  profileFlagToggled: '{lut.prefix} <&7>Neuer Anzeigemodus für <&a>{lut.flag_name[flag] ?? flag}<&7>: {lut.flag_value[value] ?? value}<&7>.'
  noUsageMessage: '{lut.prefix} <&c>Deine Eingabe konnte mit keinem existierenden oder dir zugänglichem Befehl korrespondiert werden!'
  singleUsageMessage: '{lut.prefix} <&c>Benutzung: {usage}'
  multiUsageScreen: |
    {lut.spacer}<br/>
    <container *for-usage="usages">
      <&8>> &e{usage}
    </container>
    {lut.spacer}
  playerProfileScreen: |
    {lut.spacer}<br/>
    <&7>- Einstellungsprofil von <&d>{holder_display_name}<br/>
    <container *for-flag_value="flag_values">
      <&8>> <&7>{lut.flag_name[flag_value.flag] ?? flag_value.flag}: {lut.flag_value[flag_value.value] ?? flag_value.value}<br/>
    </container>
    {lut.spacer}
  actionReloadConfigSuccess: '{lut.prefix} <&7>Die Konfiguration des Plugins wurde <&a>erfolgreich neu geladen<&7>!'
  actionReloadConfigFailure: '{lut.prefix} <&c>Während des Neuladeprozesses der Konfiguration trat ein Fehler auf; bitte überprüfe die Konsole!'
  commandEmotionHelpScreen: |
    {lut.spacer}<br/>
    <&7>Seite <&d>{current_page}<&7>/<&d>{number_of_pages} <&7>- Nutze /{label} \<Seite><br/>
    <br/>
    <container *for-emotion="emotions" *for-empty={<&c>Noch keine Emotionen konfiguriert<br/>}>
      <&8>> <&7>/{label} <&d>{emotion.identifier}
      <container *if="emotion.supports_others">
        <space/>
        <container *if="emotion.supports_all">
           <container *if="emotion.supports_self">
             <&7>[<&d>Spieler<&7>/<&d>{all_sentinel}<&7>]
           </container>
           <container *else>
             <&7>\<<&d>Spieler<&7>/<&d>{all_sentinel}&7>
           </container>
        </container>
        <container *else>
          <container *if="emotion.supports_self">
            <&7>[<&d>Spieler<&7>]
          </container>
          <container *else>
            <&7>\<<&d>Spieler<&7>>
          </container>
        </container>
      </container>
      <&7> - {emotion.description}<br/>
      <&8>> <&7>Aliase:<space/>
      <container *for-alias="emotion.aliases" *for-separator={<&7>,<space/>} *for-empty={<&c>Keine Aliase verfügbar}>
        <&d>{alias}
      </container>
      <br/>
    </container>
    {lut.spacer}
  receiverCannotBeSelf: '{lut.prefix} <&c>Du kannst dir selbst keine Emotion senden!'
  receivingPlayerNotOnline: '{lut.prefix} <&c>Der Spieler <&4>{target_player} <&c>befindet sich nicht auf dem Server!'
  receivingPlayerDuplicate: '{lut.prefix} <&c>Der Spieler <&4>{target_player} <&c>kommt in der Empfängerliste mehrfach vor!'
  maximumNumberOfTargetsExceeded: '{lut.prefix} <&c>Die Emotion <&4>{emotion_identifier} <&c>unterstützt maximal <&4>{maximum_count} Empfänger<&c>!'
  cannotCombineAllSentinelWithNames: '{lut.prefix} <&c>Der <&4>{all_sentinel}-Platzhalter <&c>kann nicht mit Spielernamen kombiniert werden!'
  noReceivingPlayersOnline: '{lut.prefix} <&c>Es befindet sich kein Spieler auf dem Server, der deine Emotion <&4>{emotion_identifier} <&c>empfangen könnte!'
  unsupportedPlayingOnSelf: '{lut.prefix} <&c>Die Emotion <&4>{emotion_identifier} <&c>kann nicht auf dir selbst ausgeführt werden!'
  unsupportedOtherTarget: '{lut.prefix} <&c>Die Emotion <&4>{emotion_identifier} <&c>unterstützt das Versenden an andere Spieler nicht!'
  unsupportedAllTarget: '{lut.prefix} <&c>Die Emotion <&4>{emotion_identifier} <&c>unterstützt das Versenden an alle Spieler nicht!'
  awaitRemainingCooldown: '{lut.prefix} <&c>Bitte warte <&4><container *let-value="remaining_time" &lut.duration_display /><&c>, bevor du die Emotion <&4>{emotion_identifier} <&c>erneut ausführst!'
  missingEmotionPermission: '{lut.prefix} <&c>Dir fehlt das Recht, die Emotion <&4>{emotion_identifier} <&c>auszuführen!'
  noAccessToAnyEmotion: '{lut.prefix} <&c>Du hast auf keine der existierenden Emotionen Zugriff!'
  unknownEmotionProvided: '{lut.prefix} <&c>Die Emotion <&4>{input} <&c>existiert nicht!'
  playerOnlyCommand: '{lut.prefix} <&c>Dieser Befehl ist nur Spielern zugänglich!'
  missingPermissionEmotionCommand: '{lut.prefix} <&c>Dir fehlen die nötigen Rechte um diesen Befehl zu benutzen!'
  missingPermissionEmotionControlCommand: '{lut.prefix} <&c>Dir fehlen die nötigen Rechte um diesen Befehl zu benutzen!'

# Environment for all emotion-messages:
# - receiver_name: String
# - receiver_display_name: String
# - sender_name: String
# - sender_display_name: String
emotions:

cLut:
  prefix: '<&8>[<&5>Emotionen<&8>]'
  spacer: '<&8><&m>                       <&8>[<&5>Emotionen<&8>]<&8><&m>                       '
  duration_display: '<duration &value units="hms" unit-renderer={<number &value format="0.#" locale="en_US" />{unit}} />'
  flag_value:
    ONLY_SELF: '<&6>Nur persönliche'
    SELF_AND_OTHERS: '<&a>Alle'
    HIDE_ALL: '<&c>Keine'
  flag_name:
    TITLE_ENABLED: 'Bildschirmtext'
    ACTION_BAR_ENABLED: 'Hotbartext'
    CHAT_ENABLED: 'Chatausgabe'
    SOUND_ENABLED: 'Geräusche'
    PARTICLE_EFFECT_ENABLED: 'Partikeleffekte'

sLut:
